<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fuli.web.dao.gif.SubjectDao">
	<resultMap id="BaseResultMap" type="com.fuli.web.pojo.SubjectInfo">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="from_id" jdbcType="INTEGER" property="fromId" />
		<result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
		<result column="preview" jdbcType="VARCHAR" property="preview" />
	</resultMap>
	<sql id="Base_Column_List">
		title,preview
	</sql>

	<!-- 分页查询 -->
	<select id="selectAll" parameterType="com.fuli.web.pojo.SubjectInfo"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		subject
		limit
		#{startRow:INTEGER},#{pageSize:INTEGER}
	</select>

	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT
		count(*)
		FROM
		subject
	</select>

</mapper>