<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fuli.web.dao.BannerDao" >
  <resultMap id="BaseResultMap" type="com.fuli.web.pojo.BannerInfo" >
    <id column="banner_id" property="bannerId" jdbcType="INTEGER" />
    <result column="link" property="link" jdbcType="VARCHAR" />
    <result column="jump_link" property="jumpLink" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    banner_id, link, jump_link
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from banner
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from banner
    where banner_id = #{bannerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from banner
    where banner_id = #{bannerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fuli.web.pojo.BannerInfo" >
    insert into banner (banner_id, link, jump_link
      )
    values (#{bannerId,jdbcType=INTEGER}, #{link,jdbcType=VARCHAR}, #{jumpLink,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fuli.web.pojo.BannerInfo" >
    insert into banner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bannerId != null" >
        banner_id,
      </if>
      <if test="link != null" >
        link,
      </if>
      <if test="jumpLink != null" >
        jump_link,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bannerId != null" >
        #{bannerId,jdbcType=INTEGER},
      </if>
      <if test="link != null" >
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="jumpLink != null" >
        #{jumpLink,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fuli.web.pojo.BannerInfo" >
    update banner
    <set >
      <if test="link != null" >
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="jumpLink != null" >
        jump_link = #{jumpLink,jdbcType=VARCHAR},
      </if>
    </set>
    where banner_id = #{bannerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fuli.web.pojo.BannerInfo" >
    update banner
    set link = #{link,jdbcType=VARCHAR},
      jump_link = #{jumpLink,jdbcType=VARCHAR}
    where banner_id = #{bannerId,jdbcType=INTEGER}
  </update>
</mapper>